# --- Variables Obligatorias ---
project_name = "cheese-factory"
environment  = "dev"
bucket_name  = "mi-bucket-s3-unico-1234"

# --- Variables Opcionales (Descomentar para sobreescribir defaults) ---

# vpc_cidr             = "10.1.0.0/16"
# public_subnet_cidrs  = ["10.1.10.0/24", "10.1.11.0/24", "10.1.12.0/24"]
# private_subnet_cidrs = ["10.1.20.0/24", "10.1.21.0/24", "10.1.22.0/24"]

# instance_type        = "t2.micro"
# ec2_purpose          = "web"

# tags = {
#   "Owner"       = "Matias Fernandez"
#   "CostCenter"  = "Servicios Digitales"
#   "ManagedBy"   = "Terraform"
# }